# Entornos virtuales
backend/venv/
venv/
ENV/
env/

# Archivos compilados y cache
__pycache__/
*.pyc
*.pyo

# Variables de entorno con claves secretas
.env
*.env

# Archivos de sistema / IDE
.vscode/
.DS_Store

.env